.user-validate-message{
    text-align: center;
    margin-top: 2em;
    margin-bottom: 1em;
    font-size: 1.7em;
}

.user-error-message{
    text-align: center;
    margin-top: 1em;
    font-size: 1.7em;
    padding: 1em;
}

.user-section-validate{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.animation-container{
    z-index: -1;

}

.animation-container-error{
    z-index: -1;

}


.lottie-animation{
    z-index: -1;
}

.lottie-animation-error{
    z-index: -1;
    
}

#lottie-animation{
    width: 20em;
}

#lottie-animation-error{
    width: 20em;
}

@media (min-width: 768px) {
    #lottie-animation{
        width: 25em;
    }
    #lottie-animation-error{
        width: 25em;
    }
}
