.recover-password-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 7em;
}

.recover-password{
    font-size: 2em;
    margin-bottom: 1.5em;
}

.field-send-mail{
    margin-bottom: 3em;
    display: flex;
    flex-direction: column;
    border: none;
}

.button-send-mail{
   background-color: black;
   color: white; 
   width: 14em;
   height: 3em;
   border: none;
   border-radius: 0.5em;
   margin-top: 1em;
}

