.menu-button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    position: relative;
  }
  
  .menu-button.active {
    background-color: black;
  }
  

  .menu a {
    text-decoration: none;
    color: white;
  }
  

  .div-submenu{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 3em;
    text-decoration: underline;
    font-size: 1.1em;
  }