.login-form-modify-exercise{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.modify-exercise{
    font-size: 2em;
    margin-bottom: 1em;
}

.custom-file-upload-profile{
  display: none;
}

.field-exercise-id{
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    border: none;
}

.field-exercise-name-modify{
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    border: none;
}

.field-description-modify{
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    border: none;
}

.field-typology-modify{
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    border: none;
}

.field-muscle-group-modify{
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    border: none;
}

.image-field-modify-exercise{
    margin-bottom: 2em;
    display: flex;
    flex-direction: row;
    border: none;
    justify-content: space-between;
    align-items: center;
}

.image-field-modify-exercise label{
    margin-bottom: 1em;
}

.image-field-modify-exercise input{
    border-style: none;
}

/* Estilo personalizado para el contenedor del input de archivo */
.file-input-container {
    position: relative;
    text-align: center;
  }
  
  /* Ocultar el input de archivo */
  .file-input-container input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Estilo personalizado para el botón de selección de archivo */
  .modify-exercise-upload-image {
    cursor: pointer;
    font-weight: bold;
    display: flex;
    flex-direction: column;
  }

  .modify-exercise-object-url-image{
    width: auto;
    height: auto;
    max-width: 10em;
    z-index: -1;
    position: relative;
}

  .button-modify-exercise{
    background-color: black;
    color: white; 
    width: 14em;
    height: 3em;
    margin-bottom: 2em;
    font-weight: bold;
    border: none;
    border-radius: 0.5em;
  }

  .object-url-image-modify-exercise{
    width: 10em;
    height: 8em;
    z-index: -1;
    position: relative;
  }
  
.edit-icon-modify{
    position: absolute;
    width: 2em;
    height: 2em;
    bottom: 0;
    right: 0;
    z-index: -1;
}

@media (min-width: 1024px){
    .modify-exercise-column{
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10em;
      padding: 6em;
      margin-top: -3em;
    }

    .modify-exercise-column-container{
      flex: 1;
      min-width: 0;
      align-items: center;
    }

    .modify-exercise-object-url-image{
      width: 100%;
      height: 100%;
      max-width: 50em;
      max-height: 50em;
    }
    
    .modify-exercise-column-button{
      text-align: end;
      margin-top: 5em;
    }
}
