.profile-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh !important;

}

.profile-user-data{
    height: auto;
    width: auto;
    padding: 2em;
    border-radius: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.7);
    color: rgb(255, 255, 255);
    margin-top: 2em;
    gap: 1.5em;
}

.profile-name {
    font-weight: bold;
    font-size: 2em;    
}


.profile-email {
    font-weight: 900;
    font-size: 1.2em;
}

  

.profile-user-data img{
    height: 160px;
    width: 160px;
    border-radius: 50%;
    border: 5px solid #ffffff;
    margin-top: 20px;
    box-shadow: 0 10px 50px rgb(0, 0, 0);
}

.profile-box-image{
    max-width: 100%;
    max-height: 100%;
}

.profile-icons-container{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.profile-favs-images{
    display: none;
}

.profile-likes-images{
    display: none;
}

.profile-icon {
    display: flex;
    gap: 1em;
    ;
}

.profile-icon span{
    color: white;
}

.profile-icon svg{
    fill: transparent;
    stroke: rgb(255, 255, 255);
    stroke-width: 0.1em;
    width: 2.5em;
    height: 2.5em;
}


.css-ahj2mt-MuiTypography-root{
    color: white !important;
    font-family: 'Kanit', sans-serif !important;
    background-color: black !important;
    font-weight: bold !important;
}

.css-1jabshk{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 !important;
    background-color: black;
}

.css-rh92k-MuiPaper-root-MuiMobileStepper-root{
    background-color: black !important;
    background: black !important;
    color: white !important;
}

.css-zjf1nq-MuiPaper-root{
    color: white !important;
    font-family: 'Kanit', sans-serif !important;
    background-color: black !important;
    font-weight: bold !important;
}

.css-1knaqv7-MuiButtonBase-root-MuiButton-root{
    color: white !important;
    font-family: 'Kanit', sans-serif !important;
}
.css-26w9jf-MuiMobileStepper-dot{
    background-color: white !important;
}
.css-114p2tk-MuiMobileStepper-dot{
    background-color: grey !important;
}

.css-1x1xx5k{
    max-width: 20em !important;
    min-width: 20em;
}

@media (min-width: 1024px) {
    .profile-favs-images{
        display: flex;
    }
    
    .profile-likes-images{
        display: flex;
    }
    .profile-icons-container{
        display: none;
    }
    
    .profile-section{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 2em;
        height: 100vh !important;
    } 

    .profile-images-container{
        display: flex;
        flex-direction: row;
        gap: 10em;
        margin-bottom: 4em;
    }

    .css-ahj2mt-MuiTypography-root{
        display: flex;
        gap: 2em;
    }
}