.reset-password-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4em;
}

.reset-password{
    font-size: 2em;
    margin-bottom: 1.5em;
}

.field-reset-code{
    margin-bottom: 3em;
    display: flex;
    flex-direction: column;
    border: none;
}

.field-new-password-reset{
    margin-bottom: 3em;
    display: flex;
    flex-direction: column;
    border: none;
}

.field-repeat-password-reset{
    margin-bottom: 3em;
    display: flex;
    flex-direction: column;
    border: none;
}

.button-reset-password{
   background-color: black;
   color: white; 
   width: 14em;
   height: 3em;
   border: none;
   border-radius: 0.5em;
   margin-top: 1em;
}

