.register-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}

.register{
    font-size: 2em;
    margin-bottom: 1em;
}

.username-field-register{
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    border: none;
}

.email-field-register{
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    border: none;
}

.password-field-register{
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    border: none;
}

.repeat-password-field-register{
    margin-bottom: 2.5em;
    display: flex;
    flex-direction: column;
    border: none;
}

.button-register{
   background-color: black;
   color: white; 
   width: 14em;
   height: 3em;
   border: none;
   border-radius: 0.5em;
   margin-top: 1em;
}

