.get-exercise-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.exercise-list-title{
    font-size: 2em;
    margin-bottom: 1em;
}

.exercise-list-form{
    margin-bottom: 2em;
}

.exercise-list-form input{
    padding: 0.5em;
    border: none;
    box-shadow: black 2px 2px 4px;
}

.exercise-card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border: solid 1px  black;
    box-shadow: black 2px 2px 4px;
    margin-bottom: 2em;
    list-style: none;
}

.exercise-card-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: bold;
    align-items: center;
}


.exercise-card-container li:first-child{
    color: white;
    background-color: black;
    border-radius: 0 0.4em 0 0.3em;
    width: 6em;
    padding: 0.35em;
    margin-top: 0.3em;
}

.exercise-card img{
    width: 18em;
}

@media (min-width: 1024px) {

    .exercise-card-border {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 5em;
        justify-content: space-around;
    }

    #lottie-container{
        grid-column: span 3;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    
    
    .exercise-card{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        border: solid 1px  black;
        box-shadow: black 2px 2px 4px;
        margin-bottom: 2em;
        list-style: none;
        border-radius: 0.3em;
    }
}