@media (min-width: 1024px){
    .fav-list-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 6em;
    }

    .favs-card-container{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;
    }
}