footer{
    background-color: black;
    color: white;
    padding: 1em;
    font-weight: bold;
    z-index: 1;
}

.social-media img{
    width: 1.25em;
}

.footer{
    display: flex;
    justify-content: space-between;
}

.media-links{
    display: flex;
    gap: 0.4em;

}