.login-form-post-exercise{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.add-new-exercise{
    font-size: 2em;
    margin-bottom: 1em;
}

.name-field-post-exercise{
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    border: none;

}

.description-field-post-exercise{
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    border: none;
}

.typology-field-post-exercise{
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    border: none;
}

.muscleGroup-field-post-exercise{
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    border: none;
}

.image-field-post-exercise{
    margin-bottom: 2em;
    display: flex;
    flex-direction: row;
    border: none;
    justify-content: space-between;
    align-items: center;
}

.image-field-post-exercise label{
    margin-bottom: 1em;
}

.image-field-post-exercise input{
    border-style: none;
}

/* Estilo personalizado para el contenedor del input de archivo */
.file-input-container {
    position: relative;
    text-align: center;
    gap:1.5em;
  }
  
  /* Ocultar el input de archivo */
  .file-input-container input[type="file"] {
    border: none;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
  }
  
  /* Estilo personalizado para el botón de selección de archivo */
  .custom-file-upload {
    border: 0.3em solid gray;
    padding: 0.5em;
    cursor: pointer;
    background-color: #f0f0f0;
    border-radius: 0.5em;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    z-index: -1;
  }

  .button-post-exercise{
    background-color: black;
    color: white; 
    width: 14em;
    height: 3em;
    margin-bottom: 2em;
    font-weight: bold;
    border: none;
    border-radius: 0.5em;
  }
  
  .lottie-container{
    width: "100px";
    height: "100px";
    z-index: -1;
  }

  .post-exercise-object-url-image{
    width: 8em;
    height: 8em;
    z-index: -1;
    position: relative;
  }