.edit-email-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}

.edit-password{
    font-size: 2em;
    margin-bottom: 1.5em;
}

.field-edit-password-old{
    margin-bottom: 3em;
    display: flex;
    flex-direction: column;
    border: none;
}

.field-edit-new-password{
    margin-bottom: 3em;
    display: flex;
    flex-direction: column;
    border: none;
}

.field-edit-repeat-new-password{
    margin-bottom: 4em;
    display: flex;
    flex-direction: column;
    border: none;
}

.button-edit-password{
   background-color: black;
   color: white; 
   width: 14em;
   height: 3em;
   border: none;
   border-radius: 0.5em;
   margin-top: 1em;
}

